.vestimenta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.color{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px white solid;
}

.colors-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}