.vestimenta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.color{
    border-radius: 100%;
    border: 5px white solid;
}

.colors-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

@media (min-width:890px){
    .color{
        width: 150px;
        height: 150px;
    }
}

@media (min-width:671px) and (max-width:889px){
    .color{
        width: 120px;
        height: 120px;
    }
}

@media (max-width:670px){
    .color{
        width: 80px;
        height: 80px;
    }
}

@media (max-width:550px){
    .color{
        width: 50px;
        height: 50px;
    }
}