.confirmation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.confirmation-button{
    border: 5px white solid;
    font-family: "Cursiva";
    color: white;
    border-radius: 20px;
    padding: 20px;
    background: none;
    font-weight: 100;
    font-size: 30pt;
    transition: all ease 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.confirmation-button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}