.countdown-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.part-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    font-weight: bold;
    width: 120px;
}

.number{
    font-size: 80pt;
    font-family: "Arial";
}

.text{
    font-family: "MiFuente";
    font-size: 16pt;
}

.puntos{
    font-size: 80pt;
    transform: translateY(-20%);
}

#today{
    font-family: "Cursiva";
    color: white;
    font-size: 70pt;
    display: none;
    margin-top: 80px;
}