.fecha-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
}

.fecha-section{
    color: white;
    font-family: "MiFuente";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha-section h2{
    margin: 10px;
    font-weight: 100;
}

.line{
    border-top: white dashed 5px;
    width: 100%;
}

.fecha-circle{
    background-color: white;
    font-family: "MiFuente",sans-serif;
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    color: #ebb3bc;
    font-weight: bold;
}

.hora{
    color: white;
    font-family: "MiFuente";
    margin-top: 18px;
    font-weight: 400;
}

@media (min-width:800px){
    .hora{
        font-size: 28pt;
    }

    .fecha-section{
        font-size: 20pt;
        width: 200px;
    }

    .fecha-circle{
        font-size: 34pt;
    }
}

@media (min-width:631px) and (max-width:799px){
    .hora{
        font-size: 25pt;
    }

    .fecha-section{
        font-size: 16pt;
        width: 150px;
    }

    .fecha-circle{
        font-size: 28pt;
    }
}

@media (max-width:630px){
    .hora{
        font-size: 16pt;
    }

    .fecha-section{
        font-size: 14pt;
        width: 97px;
    }

    .fecha-circle{
        font-size: 28pt;
    }
}
