.gift-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    gap: 10px;
}

.gift-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.gift-separator{
    width: 10px;
    border-radius: 5px;
    height: 125px;
    background-color: white;
}

.gift-text{
    font-family: "MiFuente";
    color: white;
    font-size: 24pt;
    font-weight: 100;
    text-align: center;
    margin: 20px;
}