.gift-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.gift-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.gift-separator{
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

.gift-text{
    font-family: "MiFuente";
    color: white;
    font-weight: 100;
    text-align: center;
    margin: 20px;
}

@media (min-width:900px){
    .gift-text{
        font-size: 24pt;
    }
}

@media (min-width:670px) and (max-width:899px){
    .gift-text{
        font-size: 20pt;
    }
}

@media (max-width:669px){
    .gift-text{
        font-size: 12pt;
    }
}

@media(min-width:536px){
    .gift-separator{
        height: 125px;
    }
}

@media(max-width:535px){
    .gift-separator{
        height: 70px;
    }
}

@media (min-width:517px){
    .gift-content{
        gap: 50px;
    }
}

@media (max-width:516px){
    .gift-content{
        gap: 15px;
    }
}