@font-face {
  font-family: "MiFuente";
  src: url("../fonts/FunnelDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Cursiva";
    src: url("../fonts/Borel-Regular.ttf");
}

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

.medidor{
    position: absolute;
    width: 50%;
    height: 100vw;
    z-index: 40;
}

body{
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

.info-container{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    z-index: 999;
    flex-direction: column;
    top: clamp(2.5rem,18vw,16rem);
    padding: 1rem;
    gap: clamp(2rem,10vw,7rem) /*2rem 11rem*/
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fecha-container{
    display: flex;
    font-family: "MiFuente";
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem,5vw,6rem);
    gap: clamp(0.5rem,1.1vw,1rem) /*0.5 1rem*/
}

.fecha-part{
    width: clamp(5rem,20vw,20rem); /*3 15rem*/
    border-top: clamp(0.2rem,0.35vw,0.3rem) dashed white;
    border-bottom: clamp(0.2rem,0.35vw,0.3rem) dashed white; /*0.2 0.3rem*/ 
}

.fecha-circle{
    background-color: white;
    color: #ebb3bc;
    height: clamp(3rem,10vw,7rem);
    width: clamp(3rem,10vw,7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.normal-text{
    font-family: "MiFuente";
    font-size: clamp(1.2rem,4vw,2rem)
}

.confirmation-button{
    font-size: clamp(1.8rem,6vw,3rem);
    color: white;
    font-family: "Cursiva";
    border: 0.5rem solid white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-top: 2rem;
}

.subtitle{
    font-family: "Cursiva";
    font-size: clamp(1.6rem,5vw,3.5rem);
}

.padres-text{
    font-family: "Cursiva";
    font-size: clamp(1rem,3.5vw,3.5rem);
}

.title{
    font-family: "Cursiva";
    font-size: clamp(2rem,6vw,4rem);
}

.img-general{
    width: clamp(1.5rem,15vw,8rem);
    min-width: 40px;
}


.confirmation-button:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.color{
    width: clamp(2rem,9.3vw,8rem);
    height: clamp(2rem,9.3vw,8rem);
    border-radius: 100%;
    border: solid white 0.5rem;
}

.color-container{
    display: flex;
    flex-direction: row;
    gap: clamp(0.5rem,1.75vw,1.5rem)
}

.margin-top{
    margin-top: 2rem;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.gift-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem,4.6vw,4rem);
}

.gift-separator{
    border-radius: 2px;
    width: 0.5rem;
    background-color: white;
    height: clamp(1rem,9.3vw,8rem);
}

.map{
    border: 0.3rem dashed white;
    padding: 0.3rem;
    border-radius: 50px;
    max-width: 700px;
    width: 80%;
    height: clamp(9rem,35vw,30rem);
}

.today{
    display:none
}

.countdown-container{
    display: flex;
    flex-direction: row;
    font-family: "MiFuente";
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem,2.5vw,2rem) /*0.5 2rem*/
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url("/src/fondo.png");
    width: 100%;
    z-index: -999;
    background-position: center;
    background-size:cover;
}

.number{
    font-size: clamp(1.7rem,7vw,6rem) /*1.7 6rem*/
}

.text{
    font-size: clamp(0.3rem,2.4vw,2rem) /*0.3 2rem*/
}

.title-img{
    width: 95%;
    height: auto;
}

.duck-container{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
}

.son{
    height: clamp(5rem,30vw,25rem); /*5rem 25rem*/
    transform: translateX(-5%);
}

.dad{
    height: clamp(6rem,35vw,30rem); /*6rem 30rem*/
    transform: translateX(30%);
}

.mom{
    height: clamp(6rem,35vw,30rem); /*6rem 30rem*/
    transform: translateX(-25%);

}

.padding{
    padding: 2rem;
}