@font-face {
  font-family: "MiFuente";
  src: url("../fonts/FunnelDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Cursiva";
    src: url("../fonts/Borel-Regular.ttf");
}

.medidor{
    position: absolute;
    width: 50%;
    border: solid 2px red;
    height: 100vw;
    z-index: 40;
}

.fondo{
    max-width: 100%;
    position: fixed;
    z-index: -50;
}

body{
    position: relative;
    margin: 0px;
    padding: 0px;
}

.pink-container{
    width: 96%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pink-container.two{
    transform: translate(-50%,99%);
}

.pink-container.three{
    transform: translate(-50%,183%);
}

.pink-container.four{
        transform: translate(-50%,267%);
    }

.pink-container.five{
    transform: translate(-50%,304%);
}

.pink-container.six{
    transform: translate(-50%,351%);
}

.pink-container.seven{
    transform: translate(-50%,433%);
}

.pink-container.eight{
    transform: translate(-50%,517%);
}

.pink-container.nine{
    transform: translate(-50%,600%);
}

.pink-container.ten{
    transform: translate(-50%,638%);
}

.pink-container.eleven{
    transform: translate(-50%,722%);
}

.pink-container.twelve{
    transform: translate(-50%,800%);
}

.pink-container.thirteen{
    transform: translate(-50%,890%);
    z-index: 90;
}

.pink-container.fourteen{
    transform: translate(-50%,800%);
}

.pink-container.fifteen{
    z-index: 100;
    transform: translate(-50%,980%);
}

.pink-container.sixteen{
    z-index: 110;
    transform: translate(-50%,1070%);
}

.pink-container.seventeen{
    z-index: 120;
    transform: translate(-50%,1120%);
}

@media (min-width:300px) {
    .pink-container.seventeen{
        display: none
    }

    .pink-container.sixteen{
        display: none;
    }
}

@media (min-width:320px){
    .pink-container.fifteen{
        display: none;
    }
}

@media (min-width:384px){
    .pink-container.fourteen{
        display: none;
    }

    .pink-container.twelve{
        display: none;
    }

    .pink-container.thirteen{
        display: none;
    }
}

@media (min-width:640px){
    .pink-container.eleven{
        display: none;
    }
}

@media (min-width:740px){
    .pink-container.ten{
        display: none;
    }
}


@media (min-width:780px){
    .pink-container.nine{
        display: none;
    }
}


@media (min-width:970px){
    .pink-container.eight{
        display: none;
    }
}

@media (min-width:1240px){
    .pink-container.seven{
        display: none;
    }
}

@media (min-width:1512px){
    .pink-container.six{
        display: none;
    }
}

@media (min-width:1790px){
    .pink-container.five{
        display: none;
    }
}



.info-container{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    z-index: 999;
    flex-direction: column;
}

.titulo{
    font-family: "Cursiva";
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;    
}


/*PINK CONTAINERS*/

@media (min-width:1900px) {
    .pink-container.six{
        transform: translate(-50%,351%);
        display: none;
    } 
    
    .pink-container.five{
        transform: translate(-50%,351%);
        display: none;
    } 

    
}

/*INFO CONTAINERS*/

@media (min-width:1015px){
    .info-container{
        top: 230px;
    }
}

@media (min-width:750px) and (max-width:1015px){
    .info-container{
        top: 180px;
    }
}

@media (min-width:460px) and (max-width:749px){
    .info-container{
        top: 120px;
    }
}

@media (max-width:459px){
    .info-container{
        top: 80px;
    }
}

/*TITULOS*/

@media (min-width:1061px){
    .titulo{
        font-size: 54pt;
        margin-bottom: -35px;
    }
}

@media (min-width:731px) and (max-width:1060px){
    .titulo{
        font-size: 40pt;
        margin-bottom: -35px;
    }
}

@media (min-width:551px) and (max-width:730px){
    .titulo{
        font-size: 32pt;
    }
}

@media (max-width:550px){
    .titulo{
        font-size: 24pt;
    }
}

@media (max-width:460px){
    .titulo{
        font-size: 16pt;
    }
}

/*IMG-GENERAL*/

@media(min-width:820px){
    .img-general{
        width: 105px;
        height: 105px;
    }
}

@media (min-width:571px) and (max-width:819px){
    .img-general{
        width: 90px;
        height: 90px;
    }
}

@media(max-width:570px){
    .img-general{
        width: 60px;
        height: 60px;
    }
}

@media(max-width:500px){
    .img-general{
        width: 40px;
        height: 40px;
    }
}

