.map-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-family: "MiFuente";
    color: white;
    font-weight: 100;
    margin-top: 100px;
    text-align: center;
}

.map-container h1{
    font-weight:normal;
}

.map-duck{
    position: absolute;
    width: 25%;
}

.map{
    border-radius: 50px;
    border: white 8px dashed;
    padding: 8px;
    margin-top: 20px;
}

@media (min-width:950px){
    .map{
        width: 600px;
    }
}

@media (min-width:719px) and (max-width:949px){
    .map{
        width: 450px;
        height: 450px;
    }
}

@media (max-width:720px){
    .map{
        width: 300px;
        height: 300px;
    }
}