.pink-container{
    width: 96%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pink-container.two{
    transform: translate(-50%,99%);
}

.pink-container.three{
    transform: translate(-50%,183%);
}

.pink-container.four{
        transform: translate(-50%,267%);
    }

.pink-container.five{
    transform: translate(-50%,304%);
}

.pink-container.six{
    transform: translate(-50%,351%);
}

.pink-container.seven{
    transform: translate(-50%,433%);
}

.pink-container.eight{
    transform: translate(-50%,517%);
}

.pink-container.nine{
    transform: translate(-50%,600%);
}

.pink-container.ten{
    transform: translate(-50%,638%);
}

.pink-container.eleven{
    transform: translate(-50%,722%);
}

.pink-container.twelve{
    transform: translate(-50%,800%);
}

.pink-container.thirteen{
    transform: translate(-50%,890%);
    z-index: 90;
}

.pink-container.fourteen{
    transform: translate(-50%,800%);
}

.pink-container.fifteen{
    z-index: 100;
    transform: translate(-50%,980%);
}

.pink-container.sixteen{
    z-index: 110;
    transform: translate(-50%,1070%);
}

.pink-container.seventeen{
    z-index: 120;
    transform: translate(-50%,1120%);
}