.recomendaciones-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.text-recomendaciones{
    width: 70%;
}

.presencia{
    font-family: "MiFuente";
    margin-top: 18px;
    color: white;
    font-size: 30pt;
    text-align: center;
}

.titulo-recomendaciones{
    margin-top: 80px;
}

.titulo-recomendaciones-two{
    margin-top: 100px;
}

@media (min-width:550px){
    .text-recomendaciones{
        font-size: 20pt;
    }
}

@media (max-width:549px){
    .text-recomendaciones{
        font-size: 10pt;
    }
}

@media (min-width:700px){
    .titulo-recomendaciones{
        font-size: 10pt;
    }
}