.title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title h2{
    font-weight: 100;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "MiFuente",sans-serif;
}

.title h1{
    letter-spacing: 6pt;
    font-weight: 100;
    text-align: center;
    margin: 0;
    margin-bottom: -50px;
    font-family: "Cursiva";
}

.title-img{
    width: 80%;
}

.duck-container{
    display: flex;
    justify-content: center;
    align-items: end;
}

.son{
    transform: translateX(-10%);
}

.dad{
    transform: translateX(25%);
}

.mom{
    transform: translateX(-27%);
}

.title-pato{
    font-family: "MiFuente",sans-serif;
    width: 80%;
    color: white;
    text-align: center;
    height: auto; 
}

.parent{
    margin: 0;
    margin-top: 20px;
    font-family: "Cursiva";
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.title-inter{
    font-family: "MiFuente";
    margin: 0;
}

/*PATOS/////////////////////////////////////////////////////////////*/

@media (min-width:1000px){
    .mom{
        height: 380px;
    }

    .dad{
        height: 380px;
    }

    .son{
        height: 300px;
    }
}


@media (min-width:801px) and (max-width:1000px){
    .mom{
        height: 300px;
    }

    .dad{
        height: 300px;
    }

    .son{
        height: 220px;
    }
}

@media (max-width:800px){
    .mom{
        height: 230px;
    }

    .dad{
        height: 230px;
    }

    .son{
        height: 150px;
    }
}

@media (max-width:480px){
    .mom{
        height: 100px;
    }

    .dad{
        height: 100px;
    }

    .son{
        height: 70px;
    }
}

/*TEXTO DE LA PARTE DE ARRIBA DE LA INVITACION*/

@media (min-width:1150px){
    .title-pato{
        font-size: 18pt;
    }

    .title h2{
        font-size: 24pt;
    }

    .title h1{
        font-size: 70pt;
    }

    .title-inter{
        font-size: 18pt;
    }

    .parent{
        font-size: 26pt;
    }
}

@media (min-width:850px) and (max-width:1150px){
    .title-pato{
        font-size: 14pt;
    }

    .title h2{
        font-size: 18pt;
    }

    .title h1{
        font-size: 50pt;
    }

    .title-inter{
        font-size: 14pt;
    }

    .parent{
        font-size: 22pt;
    }
}

@media (max-width:850px){
    .title-pato{
        font-size: 12pt;
    }

    .title h2{
        font-size: 18pt;
    }

    .title h1{
        font-size: 40pt;
    }

    .title-inter{
        font-size: 10pt;
    }

    .parent{
        font-size: 16pt;
    }
}

@media (max-width:450px){
    .title-pato{
        font-size: 8pt;
    }

    .title h2{
        font-size: 10pt;
    }

    .title h1{
        font-size: 20pt;
        letter-spacing: 0px;
    }

    .title-inter{
        font-size: 6pt;
    }

    .parent{
        font-size: 10pt;
    }
}

@media(max-width:660px){
    .title h1{
        line-height: 50px;
        margin-bottom: 16px;
        margin-top: 16px;
    }
}